<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Number game</title>
</head>
<body>
<h3 style="font-family: sans-serif">Please enter a number: </h3><br/>
<form method="post" action="http://localhost:8080/guess">
    <input name="tal" type="text" size="8" value="" placeholder="number"/>
    <br/>
    <input name="submit" type="submit" value="Send"/>
</form>
<p th:text="${result}"></p>
<table>
    <thead>
    <tr>
        <tp style="font-family: sans-serif">Guesses:</tp>
    </tr>
    </thead>
    <tbody>
    <tr th:each="guess : ${guesses}">
        <td th:text="${guess}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>